body {
  font-family: "Helvetica", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

h1 {
  color: #7A0019;
  font-family: "Helvetica Neue", sans-serif;
}

h2 {
  color: #7A0019;
}

#contact {
  background-color: #FFDE7A;
  padding: 1.5%;
